<footer>
    <div class="footer_heading container">
        <img src="assets/images/tech.png" alt="">
        <h1>Закажите сегодня <br>и получите скидку</h1>
    </div>
    <div class="footer_inner">
        <div>
            <h1>Портативный обогреватель</h1>
            <div class="container">
                <p>создан для вашего комфорта</p>
            </div>
        </div>
        <div class="container">
            <div>
                <form id="form" method="get">
                    <img src="assets/images/form-head.png" alt="">
                    <input type="text" placeholder="Ваше Имя">
                    <input type="text" placeholder="Номер телефона">
                    <button>Оформить заказ</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer_copyright">
        <div>
            <a href="#">Политика конфиденциальности</a>
            <a href="#">Пользовательское соглашение</a>
        </div>
        <p class="margin">ИП «YourCareer»</p>
        <p>Адрес: проспект Аль-фараби 17, Алматы 050010, Казахстан</p>
        <p>ИНН: 970225301121</p>
    </div>
</footer>
